/*=================================================================
	Basic Setup css
==================================================================*/
html {
    font-size: 100%;
    min-height: 100%;
}

body {
	font-family: 'GothamRounded-Light', 'Raleway', sans-serif;
	font-size: 14px;
	color: #222222;
	font-weight: normal;
	overflow-x: hidden;
	line-height: 20px;
  background: #6f6f6f;
}


@font-face{
  font-family: 'GothamRounded-Light';
  src: url('../../gotham-rounded/GothamRounded-Light.otf');
}
@font-face{
  font-family: 'Sofia Pro Regular';
  src: url('../../poppins/Sofia Pro Regular.ttf');
}
@font-face{
  font-family: 'Goku';
  src: url('../../poppins/Goku.ttf');
}
@font-face{
  font-family: 'sofiapro-light';
  src: url('../../poppins/sofiapro-light.otf');
}
@font-face{
  font-family: 'Poppins-Medium';
  src: url('../../poppins/Poppins-Medium.ttf');
}

@font-face{
  font-family: 'Poppins-SemiBold';
  src: url('../../poppins/Poppins-SemiBold.ttf');
}

@font-face{
  font-family: 'Poppins-SemiBoldItalic';
  src: url('../../poppins/Poppins-SemiBoldItalic.ttf');
}



a,
a:active,
a:hover,
a:focus,
a:visited{
	text-decoration:none;
	/*background:transparent;*/
	outline:none;
	color:inherit;
}

/*a:hover{
	color: #663fb5 !important;
}*/

button:focus{
	outline:none;
}

li{
	/*list-style:none;*/
}

article,
figure,
footer,
header,
nav,
section{
	display:block
}

select:focus {
    outline-offset:0;
}

/* Internet Explorer 10 in Windows 8 and Windows Phone 8 Bug fix */
@-webkit-viewport {
	width: device-width;
}
@-moz-viewport {
	width: device-width;
}
@-ms-viewport {
	width: device-width;
}
@-o-viewport {
	width: device-width;
}
@viewport {
	width: device-width;
}





a:focus, a:hover {
    	text-decoration:none !important;
	}


.navbar {
    /*position: relative;*/
    min-height: 50px;
    margin-bottom: 20px;
    border: none;
}

.navbar-toggle {
  /*border: 2px solid #FFFFFF;*/
  color: #ffffff;
}

.navbar-toggle .icon-bar {
    background: #fff !important;
}

.nav > li > a:hover, .nav > li > a:focus {
    background-color: transparent;
}

.header-body {
  height: calc(100vh - 80px);
}

#form .input-group input[class="form-control"] {
  border-radius: 50px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  font-size: 17px;
  color:#222;
  padding:7px 12px;
  border-right-width:0;
}
.box-s{
  /*box-shadow: 0px 5px 5px #888888;*/
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
    -moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
}
#form .input-group select[class="form-control"] {
  border-radius:50px;
  border-top-left-radius:0;
  border-bottom-left-radius:0;
  font-size:17px;
  width:100px;
  color:#222;
  border-left-width:0;
}

.form-control:focus {
    border:1px solid #ccc !important;
    outline:0;
    -webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(254, 86, 33, .6) !important;
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.075), 0 0 2px rgba(0, 0, 0, .6) !important;
}

.form-group1 .form-control:focus {
    border:none!important;
    outline:0;
    -webkit-box-shadow:none !important;
    box-shadow: none !important;
    border-bottom:1px solid brown !important;
}


	


::-webkit-scrollbar{
	height: 7px;
	width: 7px;
}
::-webkit-scrollbar-track{
	border-radius: 50px;
	/*-webkit-box-shadow:inset 0 0 6px rgba(0,0,0,0.1);*/
}
::-webkit-scrollbar-thumb{
	border-radius: 1px;
	background-color: #a7a7a7;
}



/*hover on dropdown and drop*/
ul.nav li.dropdown:hover > ul.dropdown-menu {
    display: block;
}
/*hover on dropdown and drop end*/


/*=================================================================
  Custom Css
==================================================================*/

.m-t-10p{
  margin-top: 15% !important;
}

.__navtop{
  background: rgba(255,255,255,.88);
  padding: 14px 0;
}
.__jlogo{
  width: 60px;
    margin-top: -18px;
}

.parallax {
    /* The image used */
    background-image: url("../img/landing.webp");
    /* Set a specific height */
    min-height: 634px; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.__dropdown-menuhome{
  border-radius: 4px !important;
}

.__dropdown-menuhome>li>a{
    display: block;
    padding: 8px 20px;
    clear: both;
    font-weight: 400;
    line-height: 1.42857143;
    color: #333;
    white-space: nowrap;
    /*background: #4a90e2;*/
}

.__dropdown-menuhome>li>a:hover{
    display: block;
    padding: 8px 20px;
    clear: both;
    font-weight: 400;
    line-height: 1.42857143;
    color: #fff;
    white-space: nowrap;
    background: #36bdff !important;
}


.__headp{
  margin-top: 35%;
  font-weight: 600;
  font-size: 18px;
  line-height: 1.4;
}


.__phead{
  margin-top: 5%;
    font-size: 30px;
    font-weight: 600;
    color: #ffffff;
}

.__voteget{
  border-radius: 4px;
    background-color: #36bdff ;
    color: #ffffff !important;
    margin-top: 4%;
    line-height: 1.56;
  }

  .__form-card {
    background: #fff;
    border: 1px solid #d3d3d373;
    padding: 50px 35px;
    border-radius: 5px;
    box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.08);
    position: relative;
    margin-top: 70px;
    margin-bottom: 10px;
}

.__searchbtn{
      color: #ffffff !important;
    background: #002e5b;
   font-weight: 600;
    outline: none;
    transition: all .4s ease-in;
}

.__aboutbg{
  background-image: url(../img/aboutbg.webp);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin-top:10%;
}

.__aboutp{
  background: #ffffff;
    padding: 20px;
    line-height: 1.8;
    text-align: justify;
    font-size: 13px;
}




/*slider*/
.col-item
{
    border: 1px solid #E1E1E1;
    border-radius: 5px;
    background: #FFF;
    margin-top: 10px;
}
.col-item .photo img
{
    margin: 0 auto;
    width: 100%;
    height: 150px;
}

.col-item .info
{
    padding: 10px;
    border-radius: 0 0 5px 5px;
    margin-top: 1px;
}

.col-item:hover .info {
    background-color: #F5F5DC;
}
.col-item .price
{
    /*width: 50%;*/
    float: left;
    margin-top: 5px;
}

.col-item .price h5
{
    line-height: 20px;
    margin: 0;
}

.price-text-color
{
    color: #ff5252;
}

.col-item .info .rating
{
    color: #777;
}

.col-item .rating
{
    /*width: 50%;*/
    float: left;
    font-size: 17px;
    text-align: right;
    line-height: 52px;
    margin-bottom: 10px;
    height: 52px;
}

.col-item .separator
{
    border-top: 1px solid #E1E1E1;
}

.clear-left
{
    clear: left;
}

.col-item .separator p
{
    line-height: 20px;
    margin-bottom: 0;
    margin-top: 10px;
    /*text-align: center;*/
}

.col-item .separator p i
{
    margin-right: 5px;
}
.col-item .btn-add
{
    width: 50%;
    float: left;
}

.col-item .btn-add
{
    border-right: 1px solid #E1E1E1;
}

.col-item .btn-details
{
    width: 50%;
    float: left;
    padding-left: 10px;
}
.controls
{
    margin-top: 20px;
}
[data-slide="prev"]
{
    margin-right: 10px;
}
/*end*/

.__badge {
  display: inline-block;
  padding: 4px 7px;
  font-size: 12px;
  font-weight: 700;
  line-height: 1;
  color: #fff !important;
  text-align: center;
  background-color:#607D8B;
  border-radius: 4px;
}

/*gallary begin*/
#ninja-slider {
    width:100%;
    background:#191919;
    padding: 0;

    margin:0 auto;
    overflow:hidden;
    box-sizing:border-box;
}


#ninja-slider .fs-icon {
    top:6px;
    right:6px;
    width:60px;
    height:26px;
    background: rgba(0,0,0,0.2);
    z-index:2;
    color:white;
    text-align:center;
    text-shadow:0 0 3px black;
    font:bold 18px/36px arial;
    border-radius:2px;
    opacity:0;
    -webkit-transition:opacity 0.8s;
    transition:opacity 0.8s;
}

#ninja-slider .slider-inner:hover .fs-icon,
#ninja-slider.fullscreen .fs-icon {
    opacity: 1;
}

#ninja-slider .fs-icon::before {      
    content:"EXPAND";
    display:block;
}

#ninja-slider.fullscreen .fs-icon::before {
    content:"+";
    display:block;
    font-weight:bold;
    font-size:3em;
    transform: rotate(-45deg);
}

#ninja-slider .slider-inner {
    /*max-width:700px;*/
    margin:0 auto;/*center-aligned */
    font-size:0px;
    position:relative;
    box-sizing:border-box;
    padding-bottom:100px!important;
}

#ninja-slider.fullscreen .slider-inner {
    width:98%; /* 100% will cause a big top gap issue in iPhone*/
    max-width:900px;
}

#ninja-slider ul {
    position:relative;
    list-style:none;
    padding:0;
    box-sizing:border-box;

    overflow:visible!important; /*For showing captions outside the slider when transitionType is "fade". */
}

#ninja-slider li {
    
    width:100%;
    height:100%;
    top:0;
    left:0;
    position: absolute;
    font-size:12px;
    list-style:none;
    margin:0;
    padding:0;
    opacity:0;
    /*overflow:hidden;*/ /*Comment it out to show the caption*/
    box-sizing:border-box;

    margin-bottom:100px!important;
}

#ninja-slider li.ns-show {
    opacity:1;
}



/* --------- slider image ------- */  
#ninja-slider .ns-img {
    background-size:contain;/*Note: If transitionType is zoom, it will be overridden to cover.*/

    cursor:default;
    display:block;
    position: absolute;
    width:100%;
    height:100%;
    background-repeat:no-repeat;
    background-position:center center;
}


/*---------- Captions -------------------*/
#ninja-slider .caption {
    position:absolute;
    top:98%;
    padding:0 40px;
    margin:auto;
    width:100%;
    text-align:center;
    font-family:sans-serif;
    font-size:14px;
    color:#ccc;
    box-sizing:border-box;    
}


/* ---------Arrow buttons ------- */   
/* The arrow button id should be: slider id + ("-prev", "-next", and "-pause-play") */ 
#ninja-slider-pause-play { display:none;}  

#ninja-slider-prev, #ninja-slider-next
{
    position: absolute;
    display:inline-block;
    width:42px;
    height:56px;
    line-height:56px;
    top: 40%; /* not 50% as caption at bottom should be counted.*/
    margin-top:-28px;
    background-color:rgba(0,0,0,0.4);
    background-color:#ccc\9;/*IE8 hack*/
    backface-visibility:hidden;
    color:white;
    overflow:hidden;
    white-space:nowrap;
    -webkit-user-select: none;
    user-select:none;
    border-radius:2px;
    z-index:10;
    opacity:0.3; 
    font-family:sans-serif;   
    font-size:13px;
    cursor:pointer;
    -webkit-transition:all 0.7s;
    transition:all 0.4s;
}

.slider-inner:hover #ninja-slider-prev, .slider-inner:hover #ninja-slider-next {
    opacity:1;
}


#ninja-slider-prev {
    left: -42px; /*set it with a positive value if .slider-inner does not have max-width setting.*/
}
#ninja-slider-next {
    right: -42px;
}

/* arrows */
#ninja-slider-prev::before, #ninja-slider-next::before {
    position: absolute;
    top: 17px;
    content: "";
    display: inline-block;
    width: 20px;
    height: 20px;
    border-left: 2px solid white;
    border-top: 2px solid white;
    backface-visibility:hidden;
}

#ninja-slider-prev::before {
    -ms-transform:rotate(-45deg);/*IE 9*/
    -webkit-transform:rotate(-45deg);
    transform: rotate(-45deg);
    left:16px;
}

#ninja-slider-next::before {
    -ms-transform:rotate(135deg);/*IE 9*/
    -webkit-transform:rotate(135deg);
    transform: rotate(135deg);
    right:16px;
}


/*pagination num within the arrow buttons*/
#ninja-slider-prev:hover, #ninja-slider-next:hover {width:80px;background-color:rgba(0,0,0,0.5);}
#ninja-slider-prev div {margin-right:8px;white-space:nowrap;opacity:0;float:right;}
#ninja-slider-next div {margin-left:8px;white-space:nowrap;opacity:0;float:left;}
#ninja-slider-prev:hover div, #ninja-slider-next:hover div {opacity:1;}


/*------ pager(nav bullets) ------*/      
/* The pager id should be: slider id + "-pager" */
#ninja-slider-pager { display:none;}   

#ninja-slider-prev, #ninja-slider-next, #ninja-slider-pause-play
{
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    user-select: none;
}

.__gimg{
  background-color: #ffffff;
  box-shadow: 0 0 1px 0 rgba(188, 188, 188, 0.5);
  cursor: pointer;
  transition: all 0.4s ease-in;
  /*height: 380px;*/
  margin-top: 20px;
}

.__gimg:hover{
  box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.08);
}

.__gimg .__gimgdiv{
 background-repeat: no-repeat !important;
    background-size: cover !important;
    background-position: center !important;
    width: 100%;
    height: 37vh;
}

.__gimg img{
  width: 360px;
  height: 230px;
}

.__gimg p:nth-child(2){
  font-size: 10px;
  font-weight: 500;
  line-height: 1.33;
  letter-spacing: 2.3px;
  /*color: #969696;*/
  padding: 9px 20px;
}
.__gimg p:nth-child(3){
  font-size: 13px;
  font-weight: 900;
  line-height: 1.39;
  letter-spacing: 1.8px;
  color: #404040;
  padding: 9px 20px;
}


/*Responsive settings*/

@media only screen and (max-width:1050px){
    
    #ninja-slider-prev {
        left:0;
    }

    #ninja-slider-next {
        right:0;
    }
}

@media only screen and (max-width:600px){

    #ninja-slider-prev, #ninja-slider-next, #ninja-slider-pager {
        display:none;
    }

    
    #ninja-slider li .cap1 {
        font-size:20px;
    }
}


/*gallary end*/



/*play list*/
.screen-reader-text {
  /* Reusable, toolbox kind of class */
  position: absolute;
  top: -9999px;
  left: -9999px;
}

.disabled {
  color: #666;
  cursor: default;
}

.show {
  display: inline-block !important;
}



.__container .player {
  height: 60px;
  margin: 0;
  position: relative;
  width: 400px;
  /* Small devices (tablets, 768px and up) */
  /* Medium devices (desktops, 992px and up) */
  /* Large devices (large desktops, 1200px and up) */
  *zoom: 1;
}
@media (min-width: 768px) and (max-width: 991px) {
  .__container .player {
    width: 470px;
  }
}
@media (min-width: 992px) and (max-width: 1100px) {
  .__container .player {
    width: 470px;
  }
}
@media (min-width: 1200px) {
  .__container .player {
    width: 470px;
  }
}
.__container .player .large-toggle-btn {
  border: 1px solid #d9d9d9;
  border-radius: 2px;
  float: left;
  font-size: 1.5em;
  height: 50px;
  margin: 0 10px 0 0;
  overflow: hidden;
  padding: 5px 0 0 0;
  position: relative;
  text-align: center;
  vertical-align: bottom;
  width: 54px;
}
.__container .player .large-toggle-btn .large-play-btn {
  cursor: pointer;
  display: inline-block;
  position: relative;
  top: -14%;
}
.__container .player .large-toggle-btn .large-play-btn:before {
  content: "\f04b";
  font: 1.5em/1.75 "FontAwesome";
}
.__container .player .large-toggle-btn .large-pause-btn {
  cursor: pointer;
  display: inline-block;
  position: relative;
  top: -13%;
}
.__container .player .large-toggle-btn .large-pause-btn:before {
  content: "\f04c";
  font: 1.5em/1.75 "FontAwesome";
}
.__container .player .info-box {
  bottom: 10px;
  left: 65px;
  position: absolute;
  top: 15px;
}
.__container .player .info-box .track-info-box {
  float: left;
  font-size: 12px;
  margin: 0 0 6px 0;
  visibility: hidden;
  width: 400px;
  *zoom: 1;
}
.__container .player .info-box .track-info-box .track-title-text {
  display: inline-block;
}
.__container .player .info-box .track-info-box .audio-time {
  display: inline-block;
  padding: 0 0 0 5px;
  /*width: 80px;*/
}
.__container .player .info-box .track-info-box:before, .__container .player .info-box .track-info-box:after {
  content: " ";
  display: table;
}
.__container .player .info-box .track-info-box:after {
  clear: both;
  display: block;
  font-size: 0;
  height: 0;
  visibility: hidden;
}
.__container .player .progress-box {
  float: left;
  min-width: 270px;
  position: relative;
}
.__container .player .progress-box .progress-cell {
  height: 12px;
  position: relative;
}
.__container .player .progress-box .progress-cell .progress {
  background: #fff;
  border: 1px solid #d9d9d9;
  height: 8px;
  position: relative;
  width: auto;
}
.__container .player .progress-box .progress-cell .progress .progress-buffer {
  background: #337ab7;
  height: 100%;
  width: 0;
}
.__container .player .progress-box .progress-cell .progress .progress-indicator {
  background: #fff;
  border: 1px solid #bebebe;
  border-radius: 3px;
  cursor: pointer;
  height: 10px;
  left: 0;
  overflow: hidden;
  position: absolute;
  top: -2px;
  width: 22px;
}
.__container .player .controls-box {
  bottom: 10px;
  left: 350px;
  position: absolute;
}
.__container .player .controls-box .previous-track-btn {
  cursor: pointer;
  display: inline-block;
}
.__container .player .controls-box .previous-track-btn:before {
  content: "\f049";
  font: 1em "FontAwesome";
}
.__container .player .controls-box .next-track-btn {
  cursor: pointer;
  display: inline-block;
}
.__container .player .controls-box .next-track-btn:before {
  content: "\f050";
  font: 1em "FontAwesome";
}
.__container .player:before, .__container .player:after {
  content: " ";
  display: table;
}
.__container .player:after {
  clear: both;
  display: block;
  font-size: 0;
  height: 0;
  visibility: hidden;
}
.__container .play-list {
  display: block;
  margin: 0 auto 20px auto;
  width: 100%;
}
.__container .play-list .play-list-row {
  display: block;
  margin: 10px 0;
  width: 100%;
  *zoom: 1;
}
.__container .play-list .play-list-row .track-title .playlist-track {
  color: #000;
  text-decoration: none;
}
.__container .play-list .play-list-row .track-title .playlist-track:hover {
  text-decoration: underline;
}
.__container .play-list .play-list-row .small-toggle-btn {
  border: 1px solid #d9d9d9;
  border-radius: 2px;
  cursor: pointer;
  display: inline-block;
  height: 20px;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
  text-align: center;
  vertical-align: middle;
  width: 20px;
}
.__container .play-list .play-list-row .small-toggle-btn .small-play-btn {
  display: inline-block;
}
.__container .play-list .play-list-row .small-toggle-btn .small-play-btn:before {
  content: "\f04b";
  font: 0.85em "FontAwesome";
}
.__container .play-list .play-list-row .small-toggle-btn .small-pause-btn {
  display: inline-block;
}
.__container .play-list .play-list-row .small-toggle-btn .small-pause-btn:before {
  content: "\f04c";
  font: 0.85em "FontAwesome";
}
.__container .play-list .play-list-row .track-number {
  display: inline-block;
}
.__container .play-list .play-list-row .track-title {
  display: inline-block;
}
.__container .play-list .play-list-row .track-title .playlist-track {
  text-decoration: none;
}
.__container .play-list .play-list-row .track-title .playlist-track:hover {
  text-decoration: underline;
}
.__container .play-list .play-list-row .track-title.active-track {
  font-weight: bold;
}
.__container .play-list .play-list-row:before, .__container .play-list .play-list-row:after {
  content: " ";
  display: table;
}
.__container .play-list .play-list-row:after {
  clear: both;
  display: block;
  font-size: 0;
  height: 0;
  visibility: hidden;
}
/*end*/


/*social icons*/
.social {
    margin: 0;
    padding: 0;
}

.social ul {
    margin: 0;
    padding: 5px;
}

.social ul li {
    margin: 5px;
    list-style: none outside none;
    display: inline-block;
}

.social i {
    width: 40px;
    height: 40px;
    color: #FFF;
    background-color: #333333;
    font-size: 22px;
    text-align:center;
    padding-top: 12px;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    -o-border-radius: 50%;
    transition: all ease 0.3s;
    -moz-transition: all ease 0.3s;
    -webkit-transition: all ease 0.3s;
    -o-transition: all ease 0.3s;
    -ms-transition: all ease 0.3s;
}

.social i:hover {
    color: #FFF;
    text-decoration: none;
    transition: all ease 0.3s;
    -moz-transition: all ease 0.3s;
    -webkit-transition: all ease 0.3s;
    -o-transition: all ease 0.3s;
    -ms-transition: all ease 0.3s;
}

.social .fa-facebook-f:hover {
    background: #4060A5;
}

.social .fa-twitter:hover {
    background: #00ABE3;
}

.social .fa-google-plus-g:hover {
    background: #e64522;
}

.social .fa-github:hover {
    background: #343434;
}

.social .fa-pinterest:hover {
    background: #cb2027;
}

.social .fa-linkedin:hover {
    background: #0094BC;
}

.social .fa-flickr:hover {
    background: #FF57AE;
}

.social .fa-instagram:hover {
    background: #375989;
}

.social .fa-vimeo-square:hover {
    background: #83DAEB;
}

.social .fa-stack-overflow:hover {
    background: #FEA501;
}

.social .fa-dropbox:hover {
    background: #017FE5;
}

.social .fa-tumblr:hover {
    background: #3a5876;
}

.social .fa-dribbble:hover {
    background: #F46899;
}

.social .fa-skype:hover {
    background: #00C6FF;
}

.social .fa-stack-exchange:hover {
    background: #4D86C9;
}

.social .fa-youtube:hover {
    background: #FF1F25;
}

.social .fa-xing:hover {
    background: #005C5E;
}

.social .fa-rss:hover {
    background: #e88845;
}

.social .fa-foursquare:hover {
    background: #09B9E0;
}

.social .fa-youtube-play:hover {
    background: #DF192A;
}
/*end*/

.__eventcard{
  box-shadow: 0 3px 18px 0 rgba(0, 0, 0, 0.16);
    background: #ffffff;
    padding: 20px;
    border-radius:4px;
}

.__eventimgs{
      height: 60vh;
    width: 400px;
}

.__eventname{
  font-size: 15px;
  font-weight: 600;
  margin-top:17%;
}

.__eventdtl{
  font-size: 18px;
  font-weight: 600;
}

.__eventd{
  font-size: 12px;
  margin-top:-10px;
}


/*footer*/
.__foter{
  background-color: #0e1523;
  /*border: solid 1px #060c17;*/
  padding: 39px 0;
  color: #ffffff;
  margin-top: 5%;
}

.__footlogo{
  width: 50px;
}

.__fh{
font-size: 18px;
  font-weight: 900;
  letter-spacing: 2.7px;
  color: #ffffff;
}

.__fotr{
  /*font-family: Raleway-Medium;*/
  font-size: 12px;
  font-weight: 200;
  letter-spacing: 1.1px;
  /*color: #777777 !important;*/
  transition: all 0.4s ease-in;
}

.__fotr:hover{
  color: #ea4c89 !important;
}

.__fod{
  padding: 0 70px;
}

.__fotcop{
  /*font-family: Raleway-Medium;*/
  font-size: 11px;
  letter-spacing: 1.5px;
  text-align: center;
  /*color: #777777;*/
}

.__fosocai{
  margin-left: -16px;
  /*float: right;*/
}

.__fotsohf{
  font-size: 20px;
  padding: 10px 10px 6px;
  transition: all 0.4s ease-in;
}
.__fotsohf:hover{
  background-color: #3B5998;
  color: #ffffff;
  border-radius: 3px;
}

.__fotsohi{
  font-size: 20px;
  padding: 10px 10px 6px;
  transition: all 0.4s ease-in;
}
.__fotsohi:hover{
  background-color: #375989;
  color: #ffffff;
  border-radius: 3px;
}

.__fotsoht{
  font-size: 20px;
  padding: 10px 10px 6px;
  transition: all 0.4s ease-in;
}

.__fotsoht:hover{
  background-color: #38A1F3;
  color: #ffffff;
  border-radius: 3px;
}

.__fotsohw{
  font-size: 20px;
  padding: 10px 10px 6px;
  transition: all 0.4s ease-in;
}

.__fotsohw:hover{
  background-color: #25D366;
  color: #ffffff;
  border-radius: 3px;
}

.__fotsohg{
  font-size: 20px;
  padding: 10px 10px 6px;
  transition: all 0.4s ease-in;
}

.__fotsohg:hover{
  background-color: #e64522;
  color: #ffffff;
  border-radius: 3px;
}

.__fotsohy{
  font-size: 20px;
  padding: 10px 10px 6px;
  transition: all 0.4s ease-in;
}

.__fotsohy:hover{
  background-color: #FF1F25;
  color: #ffffff;
  border-radius: 3px;
}

/*footer end*/
