 .parallax {
    /* The image used */
    background-image: url("../img/index.webp");
    /* Set a specific height */
    min-height: 634px; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.music {
    /* The image used */
    background-image: url("../img/music.webp");
    /* Set a specific height */
    min-height: 634px; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.about {
    /* The image used */
    background-image: url("../img/2093logo.jpg");
    /* Set a specific height */
    min-height: 634px; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.tour {
    /* The image used */
    background-image: url("../img/2093logo.jpg");
    /* Set a specific height */
    min-height: 634px; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}